$header-color: #5B3A29;
$bg-color: #FF4510;
$a: #fff;
$b: #111;
$over: 0!important;
$i: !important;

.navbar, .logOn, .btn{
	outline: $over;
}

a {
	text-decoration: none;
	outline: $over;
}

#name_sys{
	color: $a;
}

select{
	outline: $over;
}

.cf{
	padding: 0;
}

.main{
	margin-top: 55px;
	height: auto;
	padding: 0;
	float: left;
}

.pr{
	width: 200px;
}

table{
	border: none;
}

#add_new_proj{
	margin: 0 0 150px 0;
}

.panel-body-sprint {
	padding: 0;
}

.sprint-heading {
	background-color: #fff $i;

}

.panel-task{
	background-color: #f5f5f5;
	// border-radius: 0 $i;
	border-style: 1px solid transparent;
	border-color: #ddd;
	color: #111;
}

#div1 {
	width: 100%;
	height: auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.media-links{
	//background-color: $a;
	//outline: 1px solid red;
	text-align: center;
	//margin: -5px;
}

#icon{
	height: 40%;
	width: 40%;
}

.navbar-fixed-bottom{
	background-color: $b;
	height: 50px;	
}

//--- Media ---//

@media screen and (max-width: 770px) {

.navbar-fixed-bottom{
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-text{
	text-align: center;
}

.pr{
	width: 200px;
}

}