//-----Переменные
$bg-right: #adc;
// $bg-left: #ddd;
$bg-left: #495568;
$i: !important;

//-----Код

//--- PreLoader

//--- End_PreLoader

body {
	overflow: auto; /* добавить полосу прокрутки */ 
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	outline: 0 $i;
	color: #e2edff;
}

#nocolor{
	color: #3399ff;
}

select, .btn {
	outline: 0 $i;
}

ul{
	list-style-type: none;
	margin-left: -35px;
}


.block-left{
	background-color: $bg-left;
	height: 100vh;
	padding: 25px $i;
	// max-width: 1000px $i;
}

.block-right{
	padding-right: 0 $i;
	padding-left: 0 $i;
}

.navbar{
	border-radius: 0 0 5px 5px $i;
}

//=================================
//========== CHOOSE LANG ==========



//=================================

//--------------------------------------------------- Left Block

.userPhoto{
	width: auto;
	height: auto;
	margin-bottom: 3vh;
}

.links{
	padding-left: 20px;
}


//--------------------------------------------------- Right Block

.main-container{
	padding: 1.5vh;
	// background-color: #111;
}

.for_all_forms{
	padding: 10px;
}

.advice{
	color: #777a7f;
}

//Table_Members

.memberTable{
	max-height: 550px;
	overflow: auto;
}

//Table_Member

.memberTable_2{
	height: 540px;
	overflow: auto;
}

//Position table

.positionTable{
	max-height: 550px;
	overflow: auto;
}

//Projects table

.projectsTable{
	max-height: 550px;
	overflow: auto;
}

//ProjectStagesTable

.projectStagesTable{
	max-height: 250px;
	overflow: auto;
}

//ModelTable

.modelTable{
	height: 250px;
	overflow: auto;
}

//StagesTable

.stagesTable{
	max-height: 250px;
	overflow: auto;
}

//TaskTable

.taskTable{
	max-height: 550px;
	overflow: auto;
}

//Project calendar

#calendar{
	width: 100%;
}

.calendar{
    padding: 0;
    margin: 0;
    height: 400px $i;
}

.navchik{
	background-color: #eee;
}

tr:hover {
	background-color: #eee;
}

th{
	width: 130px;
}

#memberForm{
	margin: 10px; 
}

//--------- FOR MOBILE

.mobile_members{
	display: none $i;
}

.mobile_projects{
	display: none $i;
}

@media screen and (max-width: 767px) {

.mobile_members{
	display: block $i;
}

.mobile_projects{
	display: block $i;
}

}






