<nav class="navbar navbar-inverse navbar-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false"> <!-- make menu for mobile version -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="name_sys">Project Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
		      <a href="" class="logOn" data-toggle="modal" data-target="#logOut">ADMIN</a>
    		</li>
        <li class="mobile_projects">
          <a href="#/MemberList" ng-click="updateMembers()"> MEMBERS </a>
        </li>
        <li class="mobile_projects">
          <a href="#/AddNewMember" ng-click="updateMembers_2()"> ADD NEW MEMBER </a>
        </li>
        <li class="mobile_projects">
          <a href="#/Positions" ng-click="updatePositions()"> POSITIONS </a>
        </li>
        <li class="mobile_projects">
          <a href="#/AddNewPosition" ng-click="updatePositions_2()"> ADD NEW POSITION </a>
        </li>
        <li class="mobile_projects">
          <a href="#/Projects" ng-click="updateProjects()"> PROJECTS </a>
        </li>
        <li class="mobile_projects">
          <a href="#/AddNewProject" ng-click="updateProjects_2()"> ADD NEW PROJECT </a>
        </li>
        <li class="mobile_projects">
          <a href="#/ProjectCalendar"> PROJECTS CALENDAR </a>
        </li>
        <li class="mobile_projects">
          <a href="#/MakeReport"> MAKE REPORT </a>
        </li>
      </ul>
    </div>
  </div>
</nav>